main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* .carousel {
  width: 450px;
  height: 450px;
  margin: auto;
}

@media (max-width: 740px) {
  .carousel {
    width: auto;
    height: auto;
  }
} */
.carousel {
  position: relative;
}

.carousel-item-next img,
.carousel-item-prev img,
.carousel-item.active img {
  display: flex;
  width: auto;
  height: auto;
  margin: auto;
  z-index: 10;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  background-color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #343a40;
  background-size: 0.9rem;
  border-radius: 20%;
}

.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption p {
  position: relative;
  top: -8px;
  font-size: 0.9rem;
  color: #333;
}

@media (max-width: 740px) {
  .carousel-caption p {
    font-size: 0.7rem;
  }
}
/* .carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}
.carousel a {
  margin: 25px auto 0 auto;
} */
